@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Indie Flower";
  src: url("/fonts/IndieFlower-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --color-main: #f1e8dd;
  --color-red: #df0606;
  --color-black: #000000;
  --color-deep-red: #680303;
  --color-menu: #f3f2f3;

  /*Typografi */
  --font-display: "Indie Flower";
  --font-sans: "Poppins", sans-serif;
}

@layer base {
}

@layer components {
}

@layer utilities {
}
