---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Whatis from "../components/Whatis.astro";
---

<MainLayout title="Home">
  <main class="container mx-auto p-4 mt-40 lg: 50">
    <section
      class="intersect:animate-fade-up intersect:animate-duration[5000ms]"
    >
      <article class="md:flex flex-row justify-center items-center gap-10">
        <div>
          <img src="/img/heroimg.webp" alt="Hero picture of instant photos" />
        </div>

        <div class="flex flex-col mx-5">
          <div class="my-5">
            <Heading htmlheading="h1" size="large" font="display" color="red">
              Celebrate Instant Day <br /> today!
            </Heading>
          </div>
          <Text teksttype="brødtekst">Join Instant Day 2025!</Text>
          <Text teksttype="brødtekst">
            A day full of creativity, community, and fun <br />– make sure
            you’re part of it.
          </Text>
        </div>
      </article>

      <div class="flex justify-center m-10">
        <Button href="#top">Share your instant</Button>
      </div>
    </section>

    <section>
      <Whatis />
    </section>
    <section class="max-w-6xl mx-auto p-6 mb-30 mt-30">
      <article
        class="flex flex-col-reverse md:flex-row items-center gap-8 intersect:animate-fade-up intersect:animate-duration[5000ms]"
      >
        <div class="flex-1 text-left">
          <Heading htmlheading="h2" size="medium" font="display" color="red">
            Why instant Photography?
          </Heading>
          <Text teksttype="brødtekst">
            Instant Photography is a testament to life: It all started back in
            the 1940’s with a 3 year old kid. She wanted to see her fathers
            images right away. The father, Edwin Land, embarked on a mission: To
            invent instant photography. Half a decade later, Edwin Land launched
            Instant photography and established the Polaroid brand.
          </Text>
        </div>

        <div
          class="flex-1 relative flex justify-center mt-10 intersect:animate-fade-up intersect:animate-duration[5000ms]"
        >
          <img
            src="/img/IMG_6234_resultat.webp"
            alt="Instant photo"
            class="max-w-xs md:max-w-sm"
          />
          <img
            src="/graphicelements/hearts_resultat.webp"
            alt="Hearts"
            class="absolute -top-6 -right-6 w-[10vw] h-[10vw] lg:right-0 lg:-top-15 -z-10 animate-pulse [animation-duration:700ms]"
          />
        </div>
      </article>

      <article
        class="flex flex-col md:flex-row-reverse items-center gap-8 intersect:animate-fade-up intersect:animate-duration[5000ms]"
      >
        <div class="flex-1 text-left order-2 md:order-1">
          <Text teksttype="brødtekst">
            Instant photography turned into big business in the 70’s and 80’s,
            until the digital era almost killed the industry. The massive amount
            of time wasted on the small screens have spurred a counterreaction:
            Analogue, off-line experiences have become popular again. And
            instant photography is just that: An analogue, life-affirming and
            tactile photography experience. So let’s celebrate life, and make
            memories.
          </Text>
        </div>

        <div
          class="flex-1 relative flex justify-center order-1 md:order-2 intersect:animate-fade-up intersect:animate-duration[5000ms]"
        >
          <img
            src="/img/IMG_6231_resultat.webp"
            alt="Instant photo"
            class="max-w-xs md:max-w-sm z-10"
          />
          <img
            src="/graphicelements/drops_resultat.webp"
            alt="Drops"
            class="absolute -bottom-6 -left-7 w-[10vw] h-[10vw] md:-bottom-10 md:-left-10 lg:left-2 lg:-bottom-19 -z-10 animate-pulse [animation-duration:700ms]"
          />
        </div>
      </article>
    </section>

    <section
      class="mt-50 bg-[url('/graphicelements/checkered.webp')] bg-cover bg-center bg-no-repeat intersect:animate-fade-up intersect:animate-duration[5000ms]"
    >
      <div class="text-center mb-10 md:px-80">
        <Heading htmlheading="h2" size="medium" font="display" color="red"
          >Inspiration</Heading
        >
      </div>

      <div
        class="mx-40 grid grid-cols-[repeat(auto-fit,minmax(150px,350px))] gap-10 justify-center place-items-center"
      >
        <img
          src="/img/06-loserup-strand-04 1_resultat.webp"
          alt="loserup-strand"
          class="mx-auto"
        />

        <img
          src="/img/Cowboyjakke 1_resultat.webp"
          alt="Cowboyjakke"
          class="mx-auto"
        />
        <img
          src="/img/polaroid_note 1_resultat.webp"
          alt="note"
          class="mx-auto"
        />

        <div
          class="bg-[var(--color-menu)] p-10 pt-15 shadow-xl text-center flex flex-col gap-7 justify-center items-center"
        >
          <Text teksttype="brødtekst">
            Mette Kelter is a Danish art photographer who uses chemical
            disruption in instant photos to create unpredictable, one-of-a-kind
            artworks.
          </Text>
          <Link href="https://www.kelterphotography.com">Besøg hjemmeside</Link>
        </div>

        <img
          src="/img/Abstrakte_planter 1_resultat.webp"
          alt="planter"
          class="mx-auto"
        />

        <div
          class="bg-[var(--color-menu)] p-10 pt-15 shadow-xl text-center flex flex-col gap-7 justify-center items-center"
        >
          <Text teksttype="brødtekst">
            Dan Isaac Wallin is a swedish art photographer, who uses large
            format and vintage polaroid cameras for his work. His work hangs in
            numerous houses as posters.
          </Text>
          <Link href="https://www.danisaacwallin.com">Besøg hjemmeside</Link>
        </div>

        <img
          src="/img/11-instax-mikro-1 2_resultat.webp"
          alt="Instax Mikro"
          class="mx-auto"
        />

        <div
          class="bg-[var(--color-menu)] p-10 pt-15 shadow-xl text-center flex flex-col gap-7 justify-center items-center"
        >
          <Text teksttype="brødtekst">
            Maripol is a french artist/photographer/film producer. Her claim to
            fame was in the 1980’s, where she photographed famous people with a
            Polaroid SX-70. Her photographs are still very influential in the
            fashion industry.
          </Text>
          <Link href="https://en.wikipedia.org/wiki/Maripol"
            >Besøg hjemmeside</Link
          >
        </div>

        <img
          src="/img/01-amager-faelled.webp"
          alt="Instax Mikro"
          class="mx-auto"
        />
      </div>
    </section>
  </main>
</MainLayout>
