---
import MainLayout from "../layouts/MainLayout.astro";
import Text from "../components/Text.astro";
import Heading from "../components/Heading.astro";
---

<MainLayout title="Titel">
  <main class="container mx-auto p-4 mt-40">
    <div>
      <Heading htmlheading="h1" size="large" font="display" color="red">Who are We</Heading>
    </div>
    <div>
      <Text teksttype="maintext">Instant Day is a small project run by a couple of lecturers from the Multimedia Design programme at EK - Business Academy Copenhagen. Instant Day is a bi-annual project where lecturers and students collaborate on a digital design and communication project related to the Instant Day competition (this website). In essence, we just want to promote instant photography and have fun while doing it. Cheers.</Text>
    </div>
    <div class="columns-2 pl-5">
      <img src="/public/img/Group 24_resultat.webp" alt="billede af lærer" />
      <img src="/public/img/Group 25_resultat.webp" alt="billede af lærer 2" />
    </div>
    <div class="columns-2 pl-5">
      <img src="/public/img/Group 22_resultat.webp" alt="billede af lærer" />
      <img src="/public/img/Group 23_resultat.webp" alt="billede af lærer 2" />
    </div>
    <div class="columns-2">
      <Heading htmlheading="h1" size="large" font="display" color="red">The judges</Heading>
      <img class="w-20" src="/public/graphicelements/ligthbulb_resultat.webp" alt="Lightbulb" />
    </div>
    <div class="mt-2">
      <Text teksttype="maintext">Submissions will be reviewed by:</Text>
    </div>
    <div class="columns-2 mt-20">
      <img class="w-10 ml-20 mt-7" src="/public/graphicelements/star_resultat.webp" alt="star" />
      <Text teksttype="maintext" class="pl-3 mr-12">Jonas Hasle (Assistant lecturer, Multimedia Design programme at EK)</Text>
    </div>
    <div class="columns-2 mt-10">
      <img class="w-10 ml-20 mt-7" src="/public/graphicelements/star_resultat.webp" alt="star" />
      <Text teksttype="maintext" class="pl-3 mr-12">Anders Dollerup (Associate lecturer, Multimedia Design programme at EK)</Text>
    </div>
    <div class="columns-2 mt-10">
      <img class="w-10 ml-20 mt-7" src="/public/graphicelements/star_resultat.webp" alt="star" />
      <Text teksttype="maintext" class="pl-3 mr-12">Birgitte Heide (Associate lecturer, Multimedia Design programme at EK)</Text>
    </div>
    <div class="columns-2 mt-10">
      <img class="w-10 ml-20 mt-7" src="/public/graphicelements/star_resultat.webp" alt="star" />
      <Text teksttype="maintext" class="pl-3 mr-12">Stefan Grage (Associate lecturer, Multimedia Design programme at EK)</Text>
    </div>
    <div class="columns-2 mt-10">
      <img class="w-10 ml-20 mt-7" src="/public/graphicelements/star_resultat.webp" alt="star" />
      <Text teksttype="maintext" class="pl-3 mr-5">Students on the Digital Design Elective on the Multimedia Design programme at KEA)</Text>
    </div>

    <div class="bg-red-50 border-5 mt-20">
      <Heading htmlheading="h1" size="large" font="display" color="red">Sponsors</Heading>
      <Text teksttype="maintext" class="text-center mr-20 ml-20">Instant Day is not affiliated to any companies within the Instant Photography industry. The only organisation backing us is EK - Business Academy Copenhagen. At least so far.</Text>
    </div>
  </main></MainLayout
>
