--- 
import MainLayout from '../layouts/MainLayout.astro';
import Heading from '../components/Heading.astro';
import SubmitForm from '../components/Submitform.astro';
import Text from '../components/Text.astro';
---
<MainLayout title="Submit Your Instance">
  <main class="min-h-screen bg-[var(--color-main)] flex flex-col items-center justify-start pt-56 px-4 ">
    
  

    
    <SubmitForm />

<div id="termsandconditions" class="w-full max-w-5xl mx-auto p-4 mt-12">
  <details>
    <summary class="cursor-pointer border-b-2 border-[var(--color-red)] pb-2">
      <Heading htmlheading="h3" size="small" weight="bold" color="black">
        Terms & Conditions
      </Heading>
    </summary>

    <div class="grid grid-cols-1 gap-6 mt-4">
      <div>
        <Heading htmlheading="h3" size="small" weight="bold" color="black">
          Terms & conditions
        </Heading>
        <Text teksttype="maintext" weight="regular">
          By participating in the contest, you accept the following terms and conditions.
        </Text>
      </div>

      <div>
        <Heading htmlheading="h3" size="small" weight="bold" color="black">
          Participation
        </Heading>
        <Text teksttype="maintext" weight="regular">
          The competition is open to all photographers, both amateurs and professionals, who are over 18 years old.
        </Text>
      </div>

      <div>
        <Heading htmlheading="h3" size="small" weight="bold" color="black">
          Instant Photo
        </Heading>
        <Text teksttype="maintext" weight="regular">
          Every submission has to be an analogue instant photo – not a digital montage made in a photo editing suite. The instant can be made in various ways, with analogue instant cameras, digital instant cameras like ie. the Fujifilm EVO or scan-and-print tools like ie. the Polaroid Lab. The instant photo can be manipulated with analogue processes – the organizers encourage instant photography experiments. The submission can depict the instant photo in many ways: As a flat scan without or with the instant photo frame, as a photo showing the instants in a frame, on the wall etc. The instant doesn’t need to be just one photo: It can be a panorama or collage of multiple instants that make up one submission.
        </Text>
      </div>

      <div>
        <Heading htmlheading="h3" size="small" weight="bold" color="black">
          Consent
        </Heading>
        <Text teksttype="maintext" weight="regular">
          It is prohibited to upload photographs of people who have not given consent to the publication of the image. Images of people in private or embarrassing situations, regardless of whether they are photographed in a public place, are not allowed.
        </Text>
      </div>

      <div>
        <Heading htmlheading="h3" size="small" weight="bold" color="black">
          Legal stuff
        </Heading>
        <Text teksttype="maintext" weight="regular">
          The organizers reserve the right to disqualify any participant who violates these conditions. The organizers assume no responsibility for any loss, damage or injury that may arise as a result of participation in the competition or the use of prizes. Participants release the organizers from any claim, lawsuit or liability related to their participation in the competition.</Text>
</div>

<div>
        <Heading htmlheading="h3" size="small" weight="bold" color="black">
          Number of submissions
        </Heading>
        <Text teksttype="maintext" weight="regular">
You can enter the competition with a total of five submissions.</Text>
</div>

<div>
        <Heading htmlheading="h3" size="small" weight="bold" color="black">
Usage rights        </Heading>
        <Text teksttype="maintext" weight="regular">
By submitting one or more images and thereby participating in the competition, you agree that the image may be used for the promotion of the photo competition and possibly in physical exhibition spaces afterwards. The organizers will credit the participants wherever practical and reasonably possible.</Text>
</div>

<div>
        <Heading htmlheading="h3" size="small" weight="bold" color="black">
Copyright        </Heading>
        <Text teksttype="maintext" weight="regular">
You must be the author of the submitted instants and have the rights to publish them. The instants must be free of third party rights. Participants retain all copyright in their submitted instants. By submitting instants to the competition, participants grant the organizers a non-exclusive license to use, reproduce and publish the submitted images in connection with the promotion of the competition, including on social media platforms, websites and printed materials. The organizers will credit the participants wherever practical and reasonable.</Text>
</div>

<div>
        <Heading htmlheading="h3" size="small" weight="bold" color="black">
Announcement of Winners       </Heading>
        <Text teksttype="maintext" weight="regular">
The winners of the competition will be announced on the official website and/or social media platforms of the organizers. By participating in the competition, the winners consent to the publication of their names and submitted photos for promotional purposes.</Text>
</div>

  </main>
</MainLayout>
