---
import Text from "./Text.astro";
---

<footer class="w-full bg-[url('/graphicelements/footerimgmobile_resultat.webp')] bg-cover bg-no-repeat pb-10 relative min-h-[300px] flex items-center">
  <!-- Mobile layout -->
  <div class="grid-rows-3 gap-10 w-full px-2 lg:hidden">
    <!-- Logo -->
    <div class="flex">
      <a href="/">
        <img src="/graphicelements/logo_resultat.webp" alt="Instant Day logo" class="w-36 h-auto mt-15" />
      </a>
    </div>
    <div class="space-y-4 rows-3 pr-5 pl-5">
      <!-- Kontakt -->
      <a href="">
        <div class="flex justify-end uppercase text-[20px] font-bold">Kontakt</div>
      </a>
      <hr class="border-1 border-(--color-red)" />
      <!-- Om os -->
      <a href="">
        <div class="flex justify-end uppercase text-[20px] font-bold">Om os</div>
      </a>
      <hr class="border-1 border-(--color-red)" />
      <!-- FAQ -->
      <a href="">
        <div class="flex justify-end uppercase text-[20px] font-bold">FAQ</div>
      </a>
      <hr class="border-1 border-(--color-red)" />
    </div>
  </div>
  <!-- Desktop layout -->
  <div class="hidden lg:grid lg:grid-cols-4 w-full px-2 items-center pt-30">
    <div class="flex justify-center items-center">
      <a href="/">
        <img src="/graphicelements/logo_resultat.webp" alt="Instant Day logo" class="w-50 h-auto" />
      </a>
    </div>
    <div class="flex justify-center items-center">
      <a href="" class="uppercase text-[20px] font-bold hover:text-[var(--color-red)] transition-colors duration-300">Kontakt</a>
    </div>
    <div class="flex justify-center items-center">
      <a href="" class="uppercase text-[20px] font-bold hover:text-[var(--color-red)] transition-colors duration-300">Om os</a>
    </div>
    <div class="flex justify-center items-center">
      <a href="" class="uppercase text-[20px] font-bold hover:text-[var(--color-red)] transition-colors duration-300">FAQ</a>
    </div>
  </div>
</footer>
