---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // fjerner det første "/"
---

<header
  x-data="{ showmenu: false }"
  class="fixed top-0 left-0 w-full z-50 bg-[url('/graphicelements/headerimg.webp')] bg-cover bg-[center_80%] pb-10"
>
  <div
    id="navbar"
    class="container mx-auto p-4 flex flex-row justify-between items-center"
  >
    <!-- Desktop menu -->
    <nav
      id="desktopmenu"
      class="hidden lg:flex items-center justify-between w-full"
    >
      <!-- Venstre menu -->
      <ul class="flex gap-30">
        <li class="uppercase text-[20px] font-bold">
          <a
            href="/"
            class={`hover:text-[var(--color-red)] transition-colors duration-300 ${currentPath === "" ? "text-[var(--color-red)]" : ""}`}
          >
            Home
          </a>
        </li>
        <li class="uppercase text-[20px] font-bold">
          <a
            href="/submit/"
            class={`hover:text-[var(--color-red)] transition-colors duration-300 ${currentPath === "submit/" ? "text-[var(--color-red)]" : ""}`}
          >
            Submit
          </a>
        </li>
      </ul>

      <!-- Logo -->
      <div id="logo" class="mx-4">
        <a href="/">
          <img
            src="/graphicelements/logo_resultat.webp"
            alt="Instantday Logo"
            class="h-20"
          />
        </a>
      </div>

      <!-- Højre menu -->
      <ul class="flex gap-30">
        <li class="uppercase text-[20px] font-bold">
          <a
            href="/gallery/"
            class={`hover:text-[var(--color-red)] transition-colors duration-300 ${currentPath === "gallery/" ? "text-[var(--color-red)]" : ""}`}
          >
            Gallery
          </a>
        </li>
        <li class="uppercase text-[20px] font-bold">
          <a
            href="/info/"
            class={`hover:text-[var(--color-red)] transition-colors duration-300 ${currentPath === "info/" ? "text-[var(--color-red)]" : ""}`}
          >
            About Us
          </a>
        </li>
      </ul>
    </nav>

    <!-- Mobil menu -->
    <div id="logo" class="mx-4 lg:hidden">
      <a href="/">
        <img
          src="/graphicelements/logo_resultat.webp"
          alt="Instantday Logo"
          class="h-20"
        />
      </a>
    </div>

    <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = !showmenu">
      <img src="/graphicelements/burgermenu.webp" alt="Menu" class="h-8 w-12" />
    </button>
  </div>

  <!-- Mobilmenu dropdown -->
  <nav
    id="mobilmenu"
    class="flex flex-col content-center bg-[var(--color-menu)]"
    x-show="showmenu"
    x-on:click="showmenu = false"
    x-on:click.outside="showmenu = false"
  >
    <ul class="border-t-2 border-[var(--color-red)]">
      <li class="text-center py-5 border-b-2 border-[var(--color-red)]">
        <a
          href="/"
          class={`font-bold uppercase hover:text-[var(--color-red)] transition-colors duration-300 ${currentPath === "" ? "text-[var(--color-red)]" : ""}`}
        >
          Home
        </a>
      </li>
      <li class="text-center py-5 border-b-2 border-[var(--color-red)]">
        <a
          href="/submit/"
          class={`font-bold uppercase hover:text-[var(--color-red)] transition-colors duration-300 ${currentPath === "submit/" ? "text-[var(--color-red)]" : ""}`}
        >
          Submit
        </a>
      </li>
      <li class="text-center py-5 border-b-2 border-[var(--color-red)]">
        <a
          href="/gallery/"
          class={`font-bold uppercase hover:text-[var(--color-red)] transition-colors duration-300 ${currentPath === "gallery/" ? "text-[var(--color-red)]" : ""}`}
        >
          Gallery
        </a>
      </li>
      <li class="text-center py-5 border-b-2 border-[var(--color-red)]">
        <a
          href="/info/"
          class={`font-bold uppercase hover:text-[var(--color-red)] transition-colors duration-300 ${currentPath === "info/" ? "text-[var(--color-red)]" : ""}`}
        >
          About Us
        </a>
      </li>
    </ul>
  </nav>
</header>
