---
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
---
<section>
      <Heading htmlheading="h2" size="medium" font="display" color="red">
        What is Instant Day?
      </Heading>

      <Text teksttype="brødtekst">
        October 18 is Instant Day - a day all about celebrating instant
        photography. So get out your Polaroid, Instax or whatever instant
        photography camera you are using, and show us your instants.
      </Text>

      <Text teksttype="brødtekst">
        Instant Day isn’t really a photo competition, it’s more a homage to good
        old analogue, instant photography - everybody who participates are
        winnersBut: We do have a nice prize for one lucky instant photographer!
      </Text>
    </section>