---
import Text from "./Text.astro";
import Heading from "./Heading.astro";

---

<section class="relative left-1/2  w-screen -translate-x-1/2 bg-[var(--color-deep-red)] py-32 flex justify-center">
  <div class="relative w-full max-w-3xl">
    <img
      src="/img/sektion2.webp"
      alt="paper background"
      class="w-full h-auto scale-125 object-cover intersect:animate-fade-up intersect:animate-duration[5000ms]"
    />
    <div class="absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center p-8 space-y-6 text-center">
        <Heading htmlheading="h2" size="medium" font="display" color="red" class="intersect:animate-fade-up intersect:animate-duration[5000ms]">
        What is Instant Day?
      </Heading>

     <Text teksttype="maintext" weight="regular" color="black">
  October 18 is Instant Day - a day all about celebrating instant
  photography. So get out your Polaroid, Instax or whatever instant
  photography camera you are using, and show us your instants.
</Text>

<Text teksttype="maintext" weight="regular" color="black">
  Instant Day isn’t really a photo competition, it’s more a homage to good
  old analogue, instant photography – everybody who participates are
  winners. <br /> But: We do have a nice prize for one lucky instant
  photographer!
</Text>
    </div>
  </div>
</section>