---
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
---

<section>
<Heading htmlheading="h2" size="medium" font="display" color="red">What is Instant Day?</Heading>




</section>